<section class="colorlib-contact" data-section="contact">
	<div class="colorlib-narrow-content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
				<span class="heading-meta">Post</span>
				<h2 class="colorlib-heading">post new job</h2>
			</div>
		</div>
		<div class="row">
			{{#if postedJob}}				
					<div class="col-md-12 col-md-push-1">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
								<span class="heading-meta">Step 2 Confirm details</span>
								<a href="https://www.instamojo.com/@instamojo/" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo" ></a>
								<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script> 
								{{#with postedJob}}
								<form action="/postJob" method="post">
									<div class="form-group">
										<input type="text" class="form-control" name="title" placeholder="Title" value="{{{title}}}">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="phone" placeholder="Phone" value="{{{phone}}}">
									</div>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Email id where you would like to receive candidates application" value="{{{email}}}">
									</div>
									<div class="form-group">
										<textarea id="message" cols="30" rows="7" class="form-control" name="details" placeholder="Details" >
											{{{details}}}
										</textarea>
									</div>
									<div class="form-group">
										<input type="submit" class="btn btn-primary btn-send-message" value="Post Job">
									</div>
								</form>
								{{/with}}
							</div>							
						</div>
					</div>				
			{{else}}
				<div class="col-md-12 col-md-push-1">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
							<span class="heading-meta">Step 1 Add details</span>
							<form action="/validatePostedJob" method="post">
								<div class="form-group">
									<input type="text" class="form-control" name="title" placeholder="Title">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="phone" placeholder="Phone">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" name="email" placeholder="Email id where you would like to receive candidates application">
								</div>
								<div class="form-group">
									<textarea id="message" cols="30" rows="7" class="form-control" name="details" placeholder="Details"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary btn-send-message" value="Post Job">
								</div>
							</form>
						</div>
						
					</div>
				</div>
		 	{{/if}}
		</div>
	</div>
</section>