
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Project Holder </h1>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Add New
    </button>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      {{#each projectholder }}
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{this.name}}</h4>
          </div>
          <div class="card-body">
            <!-- <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> -->
            <!-- <h1 class="card-title pricing-card-title">Total - {{pscache}} </h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>{{this.email}}</li>
              <li>{{this.address1}}</li>
              <li>Help center access</li>
              <li>Help center access</li>
            </ul>
            <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
            <a class="btn btn-primary" href="/projectSupport/update/{{this.id}}">update</a>
            <a class="btn btn-primary" href="/projectSupport/delete/{{this.id}}">delete</a>
            <br><br><a class="btn btn-primary" href="/project?phid={{this.id}}">Projects</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

    <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New project Holder</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row"> 
            <div class="col-lg-12 portfolio-item">      
                 <form action="/projectholder/new" method="Post">
                    <div class="form-row">        
                      <div class="form-group col-md-6">
                        <label for="projectSupportId">project Support</label>
                        <input type="text" name="projectSupportId" value="{{psid}}" >
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="phone">Phone</label>
                        <input type="Phone" class="form-control" name="phone" placeholder="Phone">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" name="address1" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="address2">Address 2</label>
                      <input type="text" class="form-control" name="address2" placeholder="Apartment, studio, or floor">
                    </div>
                    <!-- <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="place" placeholder="City">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="personincharge">Person In Charge</label>
                        <input type="text" class="form-control" name="personincharge" placeholder="Person In Charge">
                      </div>
                    </div> -->
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
